{{ $news := .Site.GetPage .Params.content_type }}

<ul class="news scroller">
    {{ range sort $news.Params.news_items "date" "desc" }}
    <li>
        <div class="news__hd">
            <time class="news__date" datetime="{{ dateFormat "2006-01-02" .date }}">
                {{ dateFormat "Jan 2006" .date }}
            </time>
            <div class="news__text">
                {{ $body := markdownify (emojify .text) }}
                {{ if .link }}<a href="{{ .link | relURL }}"{{ if hasPrefix .link "http" }} target="_blank" rel="noopener"{{ end }}>{{ $body }}</a>
                {{ else }}{{ $body }}{{ end }}
            </div>
        </div>
        {{ with .where }}<span class="news__where">{{ . }}</span>{{ end }}
    </li>
    {{ end }}
</ul>
