{{ $section := .Site.GetPage .Params.content_type }}
{{ $pages := $section.Resources.ByType "page" }}
{{ $self := .Site.Params.author }}

{{ if gt (len $pages) 0 }}

{{/* Legend for the venue-type colours: journal / conference / workshop. */}}
<div class="legend">
    <span><i class="journal"></i>Journal</span>
    <span><i class="conference"></i>Conference</span>
    <span><i class="workshop"></i>Workshop</span>
</div>

<div class="pubs">
    {{ range sort $pages "Params.date" "desc" }}
    <article class="pub">
        <div class="pub__year">{{ dateFormat "2006" .Params.date }}</div>
        <div class="pub__body">
            <h3 class="pub__title">{{ .Params.title }}</h3>

            {{ with .Params.authors }}
            <div class="pub__authors">
                {{ range $i, $a := . }}{{ if $i }}, {{ end -}}
                {{ if eq $a $self }}<span class="self">{{ $a }}</span>{{ else }}{{ $a }}{{ end }}
                {{- end }}
            </div>
            {{ end }}

            {{ with .Params.venues }}
            <div class="pub__venues">
                {{ range . }}<span class="chip chip--{{ .type | default "conference" }}">{{ .name }}</span>{{ end }}
            </div>
            {{ end }}

            {{ with .Params.links }}
            {{/* Ranging a map yields alphabetical keys, which put `code` before `paper`.
                 Render the known kinds in a deliberate order, then anything else. */}}
            {{ $links := . }}
            {{ $order := slice "paper" "abstract" "poster" "slides" "video" "demo" "code" "dataset" "sample" "website" }}
            <div class="pub__links">
                {{ range $name := $order }}
                {{ with index $links $name }}<a href="{{ . }}" target="_blank" rel="noopener">{{ $name }}</a>{{ end }}
                {{ end }}
                {{ range $name, $url := $links }}
                {{ if not (in $order $name) }}{{ with $url }}<a href="{{ . }}" target="_blank" rel="noopener">{{ $name }}</a>{{ end }}{{ end }}
                {{ end }}
            </div>
            {{ end }}
        </div>
    </article>
    {{ end }}
</div>

{{ end }}
